<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.wx.dao.GoodsDao">

	<select id="get" resultType="com.bootdo.wx.domain.GoodsDO">
		select `gid`,`title`,`content`,`type`,`tags`,`categories`,`total_num`,`sur_num`,`allow_comment`,`status`,`price`,`rent_price`,`begin_time`,`end_time`,`created`,`modified`,`gtm_create`,`gtm_modified` from wx_goods where gid = #{value}
	</select>

	<select id="list" resultType="com.bootdo.wx.domain.GoodsDO">
		select `gid`,`title`,`content`,`type`,`tags`,`categories`,`total_num`,`sur_num`,`allow_comment`,`status`,`price`,`rent_price`,`begin_time`,`end_time`,`created`,`modified`,`gtm_create`,`gtm_modified` from wx_goods
        <where>  
		  		  <if test="gid != null and gid != ''"> and gid = #{gid} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="content != null and content != ''"> and content = #{content} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="tags != null and tags != ''"> and tags = #{tags} </if>
		  		  <if test="categories != null and categories != ''"> and categories = #{categories} </if>
		  		  <if test="totalNum != null and totalNum != ''"> and total_num = #{totalNum} </if>
		  		  <if test="surNum != null and surNum != ''"> and sur_num = #{surNum} </if>
		  		  <if test="allowComment != null and allowComment != ''"> and allow_comment = #{allowComment} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="price != null and price != ''"> and price = #{price} </if>
		  		  <if test="rentPrice != null and rentPrice != ''"> and rent_price = #{rentPrice} </if>
		  		  <if test="beginTime != null and beginTime != ''"> and begin_time = #{beginTime} </if>
		  		  <if test="endTime != null and endTime != ''"> and end_time = #{endTime} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		  <if test="modified != null and modified != ''"> and modified = #{modified} </if>
		  		  <if test="gtmCreate != null and gtmCreate != ''"> and gtm_create = #{gtmCreate} </if>
		  		  <if test="gtmModified != null and gtmModified != ''"> and gtm_modified = #{gtmModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by gid desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from wx_goods
		 <where>  
		  		  <if test="gid != null and gid != ''"> and gid = #{gid} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="content != null and content != ''"> and content = #{content} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="tags != null and tags != ''"> and tags = #{tags} </if>
		  		  <if test="categories != null and categories != ''"> and categories = #{categories} </if>
		  		  <if test="totalNum != null and totalNum != ''"> and total_num = #{totalNum} </if>
		  		  <if test="surNum != null and surNum != ''"> and sur_num = #{surNum} </if>
		  		  <if test="allowComment != null and allowComment != ''"> and allow_comment = #{allowComment} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="price != null and price != ''"> and price = #{price} </if>
		  		  <if test="rentPrice != null and rentPrice != ''"> and rent_price = #{rentPrice} </if>
		  		  <if test="beginTime != null and beginTime != ''"> and begin_time = #{beginTime} </if>
		  		  <if test="endTime != null and endTime != ''"> and end_time = #{endTime} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		  <if test="modified != null and modified != ''"> and modified = #{modified} </if>
		  		  <if test="gtmCreate != null and gtmCreate != ''"> and gtm_create = #{gtmCreate} </if>
		  		  <if test="gtmModified != null and gtmModified != ''"> and gtm_modified = #{gtmModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.wx.domain.GoodsDO" useGeneratedKeys="true" keyProperty="gid">
		insert into wx_goods
		(
			`title`, 
			`content`, 
			`type`, 
			`tags`, 
			`categories`, 
			`total_num`, 
			`sur_num`, 
			`allow_comment`, 
			`status`, 
			`price`, 
			`rent_price`, 
			`begin_time`, 
			`end_time`, 
			`created`, 
			`modified`, 
			`gtm_create`, 
			`gtm_modified`
		)
		values
		(
			#{title}, 
			#{content}, 
			#{type}, 
			#{tags}, 
			#{categories}, 
			#{totalNum}, 
			#{surNum}, 
			#{allowComment}, 
			#{status}, 
			#{price}, 
			#{rentPrice}, 
			#{beginTime}, 
			#{endTime}, 
			#{created}, 
			#{modified}, 
			#{gtmCreate}, 
			#{gtmModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.wx.domain.GoodsDO">
		update wx_goods 
		<set>
			<if test="title != null">`title` = #{title}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="tags != null">`tags` = #{tags}, </if>
			<if test="categories != null">`categories` = #{categories}, </if>
			<if test="totalNum != null">`total_num` = #{totalNum}, </if>
			<if test="surNum != null">`sur_num` = #{surNum}, </if>
			<if test="allowComment != null">`allow_comment` = #{allowComment}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="price != null">`price` = #{price}, </if>
			<if test="rentPrice != null">`rent_price` = #{rentPrice}, </if>
			<if test="beginTime != null">`begin_time` = #{beginTime}, </if>
			<if test="endTime != null">`end_time` = #{endTime}, </if>
			<if test="created != null">`created` = #{created}, </if>
			<if test="modified != null">`modified` = #{modified}, </if>
			<if test="gtmCreate != null">`gtm_create` = #{gtmCreate}, </if>
			<if test="gtmModified != null">`gtm_modified` = #{gtmModified}</if>
		</set>
		where gid = #{gid}
	</update>
	
	<delete id="remove">
		delete from wx_goods where gid = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from wx_goods where gid in 
		<foreach item="gid" collection="array" open="(" separator="," close=")">
			#{gid}
		</foreach>
	</delete>

</mapper>